# Ignore everything
*

# Except these files
!.gitignore
!report_lab_2.pdf
!task_lab_2.pdf

# Allow directories to traverse
!matlab/
!report/

# Then ignore everything in those directories
matlab/*
report/*

# Except specific files
!matlab/m_for_lab_2.m
!report/report_lab_2.tex


